<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDo App</title>
</head>
<body>
  <header>
    <h1>To Do</h1>
  </header>

  {{{body}}}
  {{!-- precisa dessas chaves, geralmente não se escreve conteúdo nesse arquivo, 
        geralmente é importado de outros arquivos do handlebars

        essa page sempre vai ser renderizado
        como o header vai aparecer em todas as pages, pode-se deixar aqui
        -- o body vai ser substituido pelo conteúdo em si da page
  --}}
</body>
</html>